/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

* {
	margin: 0;
	padding: 0;
}


.nav-item {
	color: white;
}
html {
	height: 100%;
}

body {
	font-family: 'Ubuntu', sans-serif;
	/* height: 100vh; */
	line-height: 1.6;
	width: 100%;
    min-height: 100%;
    overflow-x: hidden;
	/* background: #333; */
}

.home-intro {
	padding-top: 100px;
}

.my-work {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

section {
	/* display: block; */
	/* display: flex;
	flex-direction: row; */
	/* align-items: center; */
	/* justify-content: center; */
	/* text-align: center;
	width: 100%;
	min-height: 100vh;
	overflow: auto;
	scroll-behavior: smooth; */
	/* scroll-snap-align: center;  */
}
section#home {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}

.content {
	width: 100% !important;
	height: 100vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	/* max-width: 100%; */
}

/*** About ***/

.about .container,
.work .container {
	text-align: center;
	padding: 70px 0 50px;
}

#about {
	position: relative;
	background: #2e3639;
	color: white;
	font-family: 'Ubuntu Mono', monospace;
}
#about .about-header {
    text-align: left;
    font-size: 2em;
    margin-bottom: 25px;
}
#about .about-header > span {
	color: #cee41f;
}
#about .about-console {
	background: #1f1f1f;
	padding: 15px;
	text-align: left;
	font-size: 15px;
	color: #e2e2e2;
}
#about .console-title-bar {
	background: lightgray;
	width: 100%;
	height: 20px;
	display: block;
	border-radius: 5px 5px 0 0 ;
}

#about .about-console .comment {
	color: gray;
}

#about .about-console .code-highlight {
	color: #15ef31;
}

#about .about-console .string {
	color: #0beee5;
}

#about .about-console .number {
	color: #f43583;
}

.profile-pic {
	/* transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transoform: rotate(90deg); */
	image-orientation: from-image;
	border-radius: 100%;
	height: auto;
	width: 250px;
}

.home {
	background: url('./img/section-bkgrd/eclipse.jpg') no-repeat center center/cover;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.home p {
	color: #fff;
}

.display-4 {
	padding-bottom: 20px;
}

/* Dogs */

#dogs {
	position: relative;
	background: #2e1e20;
    color: white;	
}

.dogs-container {
	padding: 70px 0 50px;
}

#lola {
	background-image: url('../src/img/lola/lola-boston-snow-1.jpg');
	background-size: 187%;
	background-position: 32%;
	display: inline-block;
	width: 300px;
	height: 300px;
	border-radius: 100%;
}

#yoda {
	background-image: url('../src/img/yoda/Yoda_2.JPG');
	background-size: 177%;
	background-position: 43%;
	display: inline-block;
	width: 300px;
	height: 300px;
	border-radius: 100%;
}


/*** Work ***/

.work {
	background: #22211d;
	color: white;
}
#work .mywork-header{
	text-align: left;
	font-size: 2em;
}
#work .project.cimt img {
	width: 80%;
	height: auto;
}
#work .project {
	display: flex;
}
#work .project-image {
	width: 45%;
}
#work .project-description {
	text-align: left;
	width: 50%;
}
#work .project-description h1 {
	  color: #5a5a5a;
    border-bottom: 1px dotted;
    display: block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.icons > a {
	text-decoration: none;
	padding: 10px;
}

.project-description h4 a {
	text-decoration: none;
	color: white;
	font-size: 16px;
}

.project-description.body {
	font-size: 1em;
	width: 100% !important;
}


.project-description.footer {
	font-size: 1em;
	width: 100% !important;
}

/*** Contact ***/
.contact-container {
	padding: 70px 0 50px;
}

#contact {
	font-family: 'Ubuntu Mono', monospace;
	background: #3e4c3e;
}

#contact .contact-header {
		text-align: left;
    color: #fff;
    margin-bottom: 25px;
		font-size: 2em;
}

.section-header > span {
    color: #cee41f;
}

.section-header {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 2em;
}

.col-md-6 {
	max-width: 100%;
}

.navbar {
	/* position: fixed; */
	/* top: 0; */
	/* z-index: 1; */
	/* display: flex; */
	/* width: 100%; */
	/* height: 60px; */
	background-color: rgba(0,0,0,0.7) !important;
}

/*** Homepage header animation ***/

ul.fly-in-text {
	display: flex;
	margin: 0;
	padding: 0;
}

.fly-in-text {
	color: white;
	list-style: none;
	/* Center text in middle of screen dynamically  */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
	display: inline-block;
	margin-right: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 4em;
	opacity: 1;
	transition: all 2.5s ease;
	/* padding: 10px; */
	margin: 0;
	position: relative;

}

.fly-in-text li:last-child {
	margin-right: 0;
}

.fly-in-text.hidden {
	opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) {
	transform: translateX(-200px) translateY(-200px);
	-webkit-transform: translateX(-200px) translateY(-200px);
	-moz-transform: translateX(-200px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(2) {
	transform: translateX(20px) translateY(100px);
	-webkit-transform: translateX(20px) translateY(100px);
	-moz-transform: translateX(20px) translateY(100px);
}
.fly-in-text.hidden li:nth-child(3) {
	transform: translateX(-150px) translateY(-80px);
	-webkit-transform: translateX(-150px) translateY(-80px);
	-moz-transform: translateX(-150px) translateY(-80px);
}
.fly-in-text.hidden li:nth-child(4) {
	transform: translateX(10px) translateY(-200px);
	-webkit-transform: translateX(10px) translateY(-200px);
	-moz-transform: translateX(10px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(5) {
	transform: translateX(-300px) translateY(200px);
	-webkit-transform: translateX(-300px) translateY(200px);
	-moz-transform: translateX(-300px) translateY(200px);
}
.fly-in-text.hidden li:nth-child(6) {
	transform: translateX(20px) translateY(-20px);
	-webkit-transform: translateX(20px) translateY(-20px);
	-moz-transform: translateX(20px) translateY(-20px);
}
.fly-in-text.hidden li:nth-child(8) {
	transform: translateX(30px) translateY(200px);
	-webkit-transform: translateX(30px) translateY(200px);
	-moz-transform: translateX(30px) translateY(200px);
}
.fly-in-text.hidden li:nth-child(9) {
	transform: translateX(-120px) translateY(20px);
	-webkit-transform: translateX(-120px) translateY(20px);
	-moz-transform: translateX(-120px) translateY(20px);
}
.fly-in-text.hidden li:nth-child(10) {
	transform: translateX(50px) translateY(120px);
	-webkit-transform: translateX(50px) translateY(120px);
	-moz-transform: translateX(50px) translateY(120px);
}
.fly-in-text.hidden li:nth-child(11) {
	transform: translateX(100px) translateY(-200px);
	-webkit-transform: translateX(100px) translateY(-200px);
	-moz-transform: translateX(100px) translateY(-200px);
}

@media screen and (max-width: 575px) {
	.fly-in-text li {
		font-size: 2em;
	}

	#work .project-description {
		text-align: center !important;
	}

	#work .mywork-header, #dogs .dogs-header {
		text-align: center !important;
		align-items: center;
		/* font-size: 20px !important; */
	}

	.dogs-container {
		text-align: center;	
	}

	.dogs-container > p {
		padding: 30px;
	}

	.section-header {
		font-size: 20px !important;
		text-align: center !important;
	}

	#work .project {
		flex-direction: column !important;
		align-items: center;
	}

	.fa-3x{
		font-size: 2em;
	}

	#about {
		min-height: 100vh;
	}

}


@media screen and (max-width: 383px) {
	.fly-in-text li {
		font-size: 15px;
	}

	.fa-3x {
		font-size: 1.5em;
	}
	#about .about-console{
		font-size: 10px;
	} 

	#about {
		min-height: 100vh;
	}	

}
